
@model PandyIT.HMS.Data.Model.Entities.User

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add","User", FormMethod.Post))
{
    <div>
        @Html.LabelForModel()
        @Html.EditorFor(model => model.FirstName)
    </div>

}
